body {
    margin: 0;
  }
  .container {
    /* border: 6px solid black; */
    display: flex;
    justify-content: space-around;
    align-items: start;
  }
  .flex-item {
    margin-top: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 1.5rem;
    padding: 1rem;
    text-align: center;
    
  }

  .hr{
    width: 20px;
  }
 
  .item-1 {
    background: white;
    padding-top: 10px;
    flex-grow: 0;
    font-size: 1.2rem;
  }
  .item-2 {
    color: black;
    background-color: white;
    font-size: 1.2rem;
  }
  .item-3 {
    color: black;
    background-color: white;
    font-size: 1.2rem;
  }
  .item-4 {
    color: black;
    background-color: white;
    font-size: 1.2rem;
  }
  .item-5 {
    color: black;
    background-color: white;
    font-size: 1.2rem;
  }
  .item-6 {
    color: black;
    background-color: white;
    font-size: 1.2rem;
  }
  .item-7 {
    color: black;
    background-color: white;
    font-size: 1.2rem;
 
  }
  

  .h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    font-weight: 600;
    text-align: center;
    margin-top: 20px;
  }

  .h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
    font-weight: 600;
    margin-top: 10;
    margin-bottom: 20px;
    text-align: center;
   
  }

.responsive{
  width: 70%;
}

  .h3{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    margin-top: 10;
    text-align: center;
  }
  .hr{
    width: 1px;
  }
  .btn2{
    color: black;
  }
  .get-started-button {
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    padding: 10px 20px;
    cursor: pointer;
    text-transform: capitalize;
    box-decoration-break: none;
  }
  
  .get-started-button:hover {
    background-color: #0062cc;
  }

  .get-started {
    background-color: #5733ff;
    color: #fff;
    font-size: 16px;
    padding: 10px 20px;
    text-transform: capitalize;
    text-decoration: none;
    cursor: pointer;
  }
  
  .get-started:hover {
    background-color: #0062cc;
  }

  .started {
    background-color: #b7afaf75;
    color: #000000;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    margin-left: 10px;
  }
  
  .started:hover {
    background-color: #0062cc;
    color: white;
  }

  .container2 {
    
    height: 400px;
    display: grid;
    grid-template: repeat(5,300px)/repeat(5,380px);
    justify-content: space-evenly;
  }
  
  .column {
    float: left;
    width: 25%;
    padding: 0 10px;
  }
  
  .page{
    padding-top: 40px;
  }

  .page2{
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #fcedf5;
  }

  .row {
    align-items: start;
    margin: 5 -5px;
    padding-top: 25px;
    padding-bottom: 33px;
    align-content: center;
    display: flex;
    justify-content: center;
    align-items: center;

  }
    
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .card {
    padding-top: 80px;
    box-shadow: 0 4px 8px 0 rgba(224, 195, 195, 0.2); /* this adds the "card" effect */
    padding: 16px;
    text-align: center;
    border-radius: 10px;
    background-color: #ffffff;
  }
    
  .grid-item {
    color: white;
    font-size: 1.5rem;
    padding: 1rem;
    text-align: center;
  }
  .grid-1 {
    text-align: center;
    color: black;
    background-color: #ffffff;
  }
  .grid-2 {
    text-align: center;
    color: black;
    background-color: #ffffff;
  }
  .grid-3 {
    text-align: center;
    color: black;
    background-color: #ffffff;
  }
  
  griditem{
    color: rgba(158, 140, 140, 0.068);;
    font-size: 1.5rem;
    padding: 1rem;
    text-align: center;
    
  }
  .gri-1 {
    text-align: center;
    color: black;
    /* background-color: #ffffff; */
  }
  .gri-2 {
    text-align: center;
    color: black;
    /* background-color: #ffffff; */
  }
  .gri-3 {
    text-align: center;
    color: black;
    /* background-color: #ffffff; */
  }

  .gr-1 {
    text-align: center;
    color: black;
    /* background-color: #ffffff; */
  }
  .gr-2 {
    text-align: center;
    color: black;
    /* background-color: #ffffff; */
  }
  .gr-3 {
    text-align: center;
    color: black;
    /* background-color: #ffffff; */
  }

  .container5 {
    height: 625px;
    display: grid;
    grid-template: repeat(2,300px)/repeat(5,380px);
    justify-content: space-evenly;
    column-gap: 1rem;
    row-gap: 1rem;
    
  }
  .imge{
    width: 50%;
  }

  .row1{
    display: flex;
    flex-wrap: wrap;
  }
  ul{
    list-style: none;
  }
  .column{
    width: 23%;   
    padding: 40 15px;
  }
  .column h4{
    font-size: 18px;
    padding: 0 40px;
    margin-bottom: 30px;
    font-weight: 800; 
  }
  .containera{
    max-width: 1400px;
    margin-left: 125px; 
    
    height: 200px;
    align-content: center;
  }

  .column ul li {
    margin-bottom: 8px;
  }

  .column ul li a{
    font-size: 16px;
    text-transform: capitalize;
    text-decoration: none;
    color: #000000;
    font-weight: 300;
    display: block;
  }

  .footer{
    padding: 70px 0;
    background-color: #fef9f1;
  }
